.tilt-shake {
  animation: tilt-shaking 0.15s;
}

.skew-shake-infinite {
  animation: skew-x-shake 1.3s infinite;
}

.invalid {
  animation: skew-x-shake 0.9s;
}

.hop0 {
  animation: hop 0.3s;
}
.hop1 {
  animation: hop 0.3s;
}
.hop2 {
  animation: hop 0.3s;
}
.hop3 {
  animation: hop 0.3s;
}
.hop4 {
  animation: hop 0.3s;
}

.puzzleComplete0 {
  animation: completeHop 0.6s;
  animation-iteration-count: 4;
}
.puzzleComplete1 {
  animation: completeHop 0.6s;
  animation-iteration-count: 4;
}
.puzzleComplete2 {
  animation: completeHop 0.6s;
  animation-iteration-count: 4;
}
.puzzleComplete3 {
  animation: completeHop 0.6s;
  animation-iteration-count: 4;
}
.puzzleComplete4 {
  animation: completeHop 0.6s;
  animation-iteration-count: 4;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card-face {
  position: absolute !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes skew-x-shake {
  0% {
    transform: skewX(-15deg);
  }
  2% {
    transform: skewX(15deg);
  }
  4% {
    transform: skewX(-15deg);
  }
  6% {
    transform: skewX(15deg);
  }
  8% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

@keyframes hop {
  0% {
    transform: translateY(0px) scale(1) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) scale(1.2) rotate(10deg);
  }
  100% {
    transform: translateY(0px) scale(1) rotate(0deg);
  }
}

@keyframes completeHop {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.2);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
